<div id="top" class="top">
	<div class="row">
		<div class="small-12 columns">
			<h1 class="text-center">SIT223 Portfolio</h1>
		</div>
	</div>
</div>

<div class="section sticky" data-sticky data-margin-top="0">
	<div class="row">
		<div class="small-12 small-centered text-center columns sticky-content">

			<div class="tags">
				<strong>Show:</strong>&nbsp;
				<!-- <a @click.prevent="ShowGlo('glo2')" href="#" class="label label-glo2" title="Communication">GLO2</a>  -->
				<a @click.prevent="ShowGlo('glo3')" href="#" class="label has-tip label-glo3" data-tooltip aria-haspopup="true" data-click-open="false" data-disable-hover="false" data-position="bottom" title="Digital literacy">GLO3</a> 
				<a @click.prevent="ShowGlo('glo4')" href="#" class="label label-glo4" data-tooltip aria-haspopup="true" data-click-open="false" data-disable-hover="false" data-position="bottom" title="Critical thinking">GLO4</a> 
				<a @click.prevent="ShowGlo('glo5')" href="#" class="label label-glo5" data-tooltip aria-haspopup="true" data-click-open="false" data-disable-hover="false" data-position="bottom" title="Problem solving">GLO5</a> 
				<!-- <a @click.prevent="ShowGlo('glo6')" href="#" class="label label-glo6" title="Self-management">GLO6</a>  -->
				<!-- <a @click.prevent="ShowGlo('glo7')" href="#" class="label label-glo7" title="Teamwork">GLO7</a> -->
				<!-- <a @click.prevent="ShowGlo('glo8')" href="#" class="label label-glo8" title="Global citizenship">GLO8</a> -->
				&nbsp;
				<strong>or</strong>	&nbsp; <a @click.prevent="ResetGlos"   href="#" class="label label-reset"  title="Reset all">RESET</a> 
			</div>
			<nav>
				<ul class="dropdown menu align-center" data-dropdown-menu>
					<li>
						<a class="text-center menu-switch" href="#"><strong>Select a Topic</strong></a>
						<ul  class="menu  dd-menu" data-smooth-scroll  data-offset="100">
							<li><a href="#top">Introduction</a></li>
							<li><a href="#inter‐personal">Inter‐Personal</a></li>
							<li><a href="#communication">Communication</a></li>
							<li><a href="#self‐management">Self‐Management</a></li>
							<li><a href="#global-citizenship">Global Citizenship</a></li>
							<li><a href="#references">References</a></li>
						</ul>
					</li>
				</ul>
			</nav>

		</div>
	</div>
</div>