<!-- ==============================  introduction ==============================-->
<div id="introduction" class="section">
	<!-- <h2 class="text-center">Introduction</h2> -->
	<h4 class="text-center"><small>(ULO2)</small></h4>
	<div class="lead">
		<p class="intro">
			This portfolio incorporates four individual reflections based on the content discussed in SIT223 over the term. The reflections address the topics of inter-personal skills and team work, communication, self-management and global citizenship. The topics are introduced through the various assignments and exercises completed during the term including group work and seminars. The portfolio’s reflections follow the model found in the “Framework for reflective practice” (Williams, Woolliams &amp; Spiro 2012, p. 79). As communication is a core subject of this unit, this portfolio is also available as a word document uploaded on SIT223 cloud Deakin. 
		</p>
	</div>
</div>