<!-- ==============================  global-citizenship ==============================-->
<div class="section"></div>
<div id="references" class="section">
	<h4 class="text-center">References</h4>
	<hr>
	<div class="read">
		<p>
		</p>
	</div>

	<h4 class="text-center">Evidences</h4>
	<hr>
	<div class="row small-up-2 medium-up-3 large-up-4">
		<div class="column column-block">
			<img src="https://placehold.it/600x600" class="thumbnail" alt="">
		</div>
		<div class="column column-block">
			<img src="https://placehold.it/600x600" class="thumbnail" alt="">
		</div>
		<div class="column column-block">
			<img src="https://placehold.it/600x600" class="thumbnail" alt="">
		</div>
		<div class="column column-block">
			<img src="https://placehold.it/600x600" class="thumbnail" alt="">
		</div>
		<div class="column column-block">
			<img src="https://placehold.it/600x600" class="thumbnail" alt="">
		</div>
		<div class="column column-block">
			<img src="https://placehold.it/600x600" class="thumbnail" alt="">
		</div>
	</div>
</div>