<div class="row section">
	<div class="small-8 small-centered columns list">

		<!-- ==============================  introduction ==============================-->
		<div id="introduction" class="section">
			<!-- <h2 class="text-center">Introduction</h2> -->
			<h4 class="text-center"><small>(ULO2)</small></h4>
			<div class="lead">
				<p>
					Self-management is about learning independently. <span :class="glo3" class="glo3">Part of the learning</span> process, I feel, is recognizing what is to be learned or, in this scenario, addressing a chunk of faulty thinking and correcting it. <span :class="glo2" class="glo2">I realise that relying on vague and feel good notions as goals, such as ‘studying for a degree’ is not enough to provide the drive behind aspiration in the long term.</span> 
				</p>
			</div>
		</div>

		<!-- ==============================  communication ==============================-->
		<div id="communication" class="section">
			<h2 class="text-center">Communication</h2>
			<h4 class="text-center"><small>(GLO2)</small></h4>

			<!-- WHAT -->
			<h4>What?</h4>
			<div class="read">
				<p>
					Self-management is about learning independently. <span :class="glo3" class="glo3">Part of the learning</span> process, I feel, is recognizing what is to be learned or, in this scenario, addressing a chunk of faulty thinking and correcting it. <span :class="glo2" class="glo2">I realise that relying on vague and feel good notions as goals, such as ‘studying for a degree’ is not enough to provide the drive behind aspiration in the long term.</span> 
				</p>
			</div>

			<!-- SO WHAT -->
			<h4>So What?</h4>
			<div class="read">
			</div>

			<h4>What Now?</h4>
			<div class="read">
				<p>
				</p>
			</div>
		</div>

		<!-- ==============================  inter‐personal ==============================-->
		<div id="inter‐personal" class="section">
			<h2 class="text-center">Inter‐Personal</h2>
			<h4 class="text-center"><small>(GLO7)</small></h4>

			<h4>What?</h4>
			<div class="read">
				<p>
				</p>
			</div>

			<h4>So What?</h4>
			<div class="read">
				<p>
				</p>
			</div>

			<h4>What Now?</h4>
			<div class="read">
				<p>
				</p>
			</div>
		</div>

		<!-- ==============================  self-management ==============================-->
		<div id="self‐management" class="section">
			<h2 class="text-center">Self-Management</h2>
			<h4 class="text-center"><small>(GLO6)</small></h4>

			<h4>What?</h4>
			<div class="read">
				<p>
				</p>
			</div>

			<h4>So What?</h4>
			<div class="read">
				<p>
				</p>
			</div>

			<h4>What Now?</h4>
			<div class="read">
				<p>
				</p>
			</div>
		</div>

		<!-- ==============================  global-citizenship ==============================-->
		<div id="global-citizenship" class="section">
			<h2 class="text-center">Global Citizenship</h2>
			<h4 class="text-center"><small>(GLO8)</small></h4>

			<h4>What?</h4>
			<div class="read">
				<p>
				</p>
			</div>

			<h4>So What?</h4>
			<div class="read">
				<p>
				</p>
			</div>

			<h4>What Now?</h4>
			<div class="read">
				<p>
				</p>
			</div>
		</div>

		{{> references }}
	</div>
</div>